<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Консольный аппендер для немедленного вывода -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <!-- Файловый аппендер для записи логов в файл -->
    <appender name="MAIN-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/main-log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/main-log.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- каждый архивный файл, максимальный размер 10МБ -->
            <maxFileSize>10MB</maxFileSize>
            <!-- общий размер всех архивных файлов, если общий размер > 100МБ, старые файлы будут удаляться -->
            <totalSizeCap>100MB</totalSizeCap>
            <!-- хранить 60 дней -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Корневой логгер -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="MAIN-LOG"/>
    </root>

    <!-- Логгер по умолчанию -->
    <logger name="default-logger" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="MAIN-LOG"/>
    </logger>

</configuration>